# Core options
database           = "postgres:#steampipe@localhost:9193/steampipe"
notifier           = "default"
notification_level = "info"
approvers          = []
max_concurrency    = 1

# Global
global_default_tags = {
  environment = "not set"
  project     = "not set"
}
global_prohibited_tags = [
  "password",
  "secret",
  "private",
  "key"
]

# S3
s3_buckets_default_tags = {}
s3_buckets_mandatory_tags = {}
s3_buckets_prohibited_tags = []